.button {
    display: inline-block;
    min-width: 185px;
    padding: 13px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    @include calibri-bold;
    color: $white;
    background-color: $orange-bright;
    transition: $transition-time all;
    cursor: pointer;

    &:hover {
        background-color: $red;
    }

    &._color-sky {
        background-color: $skyblue;

        &:hover {
            background-color: $skyblue - 50;
        }
    }

    &._inverted {
        border: 1px solid $orange;
        background-color: transparent;
        color: $orange;
        font-size: 18.5px;
        line-height: 1;
        @include calibri-regular;
        text-transform: none;

        &:hover {
            color: $orange-bright;
            border-color: $orange-bright;
        }
    }
}