.input {
    width: 245px;
    border: 1px solid $border-gray;
    padding: 8px 13px;
    @include calibri-light;
    font-size: 18.5px;
    line-height: 1;

    &._error,
    ._error & {
        border-color: $orange-bright;
        box-shadow: inset 0 0 0 1px $orange-bright;
    }
}