.popup {
    position: relative;
    width: 1040px;
    margin: 100px auto;
    padding: 60px 100px;
    background-color: $white;
    transition: $transition-time all ease-in-out;

    &._size {

        &-md {
            width: 675px;
            padding: 50px 65px;
        }
    }

    &._bg {

        &-black {
            background-color: $color-text;
            color: $white;
        }
    }

    &._bg-black & {

        &__close {
            top: 17px;
            right: 17px;
            width: 17px;
            height: 17px;
            background-color: transparent;
        }
    }

    &._bg-black &__close:hover &__close-icon {
        fill: $orange-bright;
    }

    .mfp-ready & {
        opacity: 1;
        transform: translateY(0);
    }

    &,
    .mfp-removing & {
        opacity: 0;
        transform: translateY(-100px);
    }

    &__title {
        margin-bottom: 30px;
        @include roboto-bold;
        font-size: 32px;
    }

    &__text {
        line-height: 1.5;

        & + & {
            margin-top: 30px;
        }
    }

    &__body {

        p + p {
            margin-top: 30px;
        }
    }

    &__actions {
        margin-top: 60px;
        text-align: center;
    }

    &__close {
        @include inline-row(center, center);
        width: 50px;
        height: 50px;
        padding: 0;
        background-color: $orange-bright;
        opacity: 1;
        cursor: pointer;
        transition: $transition-time background-color;

        &:hover {
            background-color: $red;
        }

        &:active {
            top: 0;
        }

        &-icon {
            pointer-events: none;
            fill: $white;
            transition: $transition-time fill;
        }
    }

    &__samples {
        $image-width: 264px;
        $image-height: 284px;
        @include row();
        flex-wrap: wrap;
        margin-top: 50px;

        &-item {
            position: relative;
            @include column(center);
            width: $image-width;
            margin-right: 24px;

            &._clickable {

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: $image-width;
                    height: $image-height;
                    box-shadow: inset 0 0 0 1px $color-text-gray;
                    background-color: transparent;
                    pointer-events: none;
                    transition: $transition-time box-shadow;
                }

                &:hover:before {
                    box-shadow: inset 0 0 0 4px $color-text;
                }
            }

            &-img {
                width: $image-width;
                height: $image-height;
                margin-bottom: 15px;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:nth-child(n+4) {
                margin-top: 40px;
            }
        }
    }

    &__form {
        @include column(flex-start);

        &._callback {
            padding: 30px 50px 45px;
        }

        &-item {
            @include column(flex-start);
            width: 100%;

            & + & {
                margin-top: 20px;
            }

            .textarea {
                width: 100%;
            }
        }

        &-label {
            margin-bottom: 10px;
            color: $orange;
        }

        &-image-upload {
            margin-top: 10px;
        }

        &-action {
            margin-top: 35px;
        }
    }

    &__success {
        @include column(center);
        margin: 20px 20px 20px 0;
        border: 2px solid $orange-bright;
        padding: 80px 50px 90px;

        &-title {
            margin-bottom: 25px;
            @include roboto-bold;
            font-size: 32px;
        }

        &-text {
            text-align: center;
        }

    }

}