// Colors

$color-text: #323232;
$color-text-dark: #1E1E1E;
$color-text-gray: #ECECEC;
$white: #FFFFFF;
$gray: #CECECE;
$gray-text: #D4D4D4;
$border-gray: #CCCCCC;
$breadcrumb-gray: #B8B8B8;
$red: #ED4837;
$brown-dark: #7d604c;
$brown: #A07456;
$brown-dim: #E3C69C;
$orange-dark: #B37F5C;
$orange: #C28B65;
$orange-dim: #C5A449;
$orange-very-dim: #CFB5A3;
$orange-bright: #FF7757;
$skyblue: #55ACB1;
$yellow: #FFDE00;
$slider-1: #9A7F6A;
$slider-2: #6A7780;
$slider-3: #7A9EB1;


// Global values

$desktop-width: 1520px;
$sm-desktop-width: 1200px;
$container-padding: 50px;
$transition-time: .3s;

// Z-indexes

$z-collapsed-cart: 100;