html,
body {
    margin: 0;
    @include calibri-light;
    font-size: 18.5px;
    padding-bottom: 500px;
}

div,
a,
button,
input,
textarea {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

a,
button,
input,
textarea {

    &:focus {
        outline: none;
    }
}

button {
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
}

p {
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}