@font-face {
    font-family: RobotoSlab;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/RobotoSlab-Bold.woff") format('woff');
}

@font-face {
    font-family: RobotoSlab;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/RobotoSlab-Regular.woff") format('woff');
}

@font-face {
    font-family: Caveat;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Caveat-Regular.woff") format('woff');
}