.contact-us {
    padding: 60px 0;
    background-color: $color-text;
    color: $orange;
    overflow: hidden;

    &__container {
        @include row(space-between);
    }

    &__title {
        margin-bottom: 35px;
    }

    &__socials {
        width: 440px;

        &-recall {
            @include row(space-between);
            margin: 28px 0 80px;

            .input {
                width: 245px;
            }
        }

        &-block {
            width: 100%;
            @include row(space-between);
            margin-top: 50px;
        }

        &-item {
            @include column(center);
            max-width: 78px;
            font-size: 16px;
            text-align: center;
        }

        &-icon {
            display: inline-block;
            width: 38px;
            height: 34px;
            margin-bottom: 20px;
            background-position: center;
            background-repeat: no-repeat;

            &._viber {
                @include bg-image("icons/viber.svg");
            }

            &._telegram {
                @include bg-image("icons/telegram.svg");
            }

            &._messenger {
                @include bg-image("icons/messenger.svg");
            }

            &._whatsup {
                @include bg-image("icons/whatsapp.svg");
            }

            &._chat {
                @include bg-image("icons/chat.svg");
            }
        }
    }

    &__address {
        width: calc(100% - 570px);

        @include sm-desktop {
            width: calc(100% - 540px);
        }

        &-controls {
            margin-bottom: 30px;

            .link._active {
                padding: 4px 10px;
                background-color: $orange-dark;
                color: $color-text;

                .link__text {
                    border-bottom: 0;
                }
            }

            .link + .link {
                margin-left: 70px;
            }
        }

        &-preview {
            @include row();
            height: 270px;
            margin-bottom: 25px;
        }

        &-photo {
            min-width: 450px;
            height: 100%;
            margin-right: calc((100vw - #{$desktop-width}) / -2);

            @include sm-desktop {
                margin-right: calc((100vw - #{$sm-desktop-width}) / -2);
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-data {
            @include row();
        }

        &-column {
            color: $white;

            &:first-child {
                max-width: 430px;
                width: 420px;
                padding-right: 20px;
            }
        }
        
        &-schedule {
            margin-top: 7px;
            color: $orange;
            font-size: 16px;
        }
    }

    &__map {

        &-wrap {
            position: relative;
            width: calc(100% - 250px);
            min-width: calc(100% - 250px);
            height: 100%;

            @include sm-desktop {
                width: calc(100% - 188px);
                min-width: calc(100% - 188px);
            }
        }

        @include bg-image("map-temp.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;

        &:before {
            position: absolute;
            content: '';
            width: 56px;
            height: 65px;
            bottom: 100px;
            left: 50%;
            margin-left: -28px;
            @include bg-image("marker.png");
            z-index: 1;
        }

        &-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding-top: 195px;
            background-color: rgba(0,0,0,0.3);
            color: $color-text-gray;
            @include calibri-bold;
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
            cursor: pointer;
            z-index: 2;
        }
    }
}