.page {
    padding: 30px 0 125px;

    &__container {
        width: 940px;
        margin: 0 auto;
        color: $color-text;
        font-size: 18.5px;
        line-height: 26.5px;

        h1 {
            @include roboto-bold;
            font-size: 40px;
            line-height: 50.5px;
            margin-bottom: 42px;
        }

        h2 {
            @include roboto-bold;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 40px;
        }

        h3 {
            @include roboto-bold;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 40px;
        }

        h4 {
            @include calibri-bold;
            font-size: 20px;
            line-height: 30px;
        }

        ul {
            margin-bottom: 50px;
            li {
                position: relative;
                padding-left: 36px;
                line-height: 30px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 15px;
                    top: 13px;
                    width: 4px;
                    height: 4px;
                    border-radius: 100%;
                    background-color: $color-text;
                }
            }
        }

        p {
            margin-bottom: 40px;
            @include calibri-light;
        }

        p + h1 {
            margin-top: 65px;
        }

        p + blockquote {
            margin-top: 50px;
        }

        img {
            margin-bottom: 40px;
        }

        blockquote {
            margin-bottom: 50px;
            margin-left: 50px;
            padding-left: 41px;
            border-left: 4px solid $orange-bright;
            @include calibri-bold-italic;
            font-size: 18.5px;
            line-height: 26.5px;
        }
    }
}