<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Вкусная Мебель</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/libs.js"></script>
</head>
<body>
<header class="header">
    <div class="header__container container">
        <div class="header__nav">
            <div class="header__nav-contacts">
                <a href="#" class="link _color-orange _font-sm">
                    <i class="link__icon _phone"></i>
                    <span class="link__text">Обратный Звонок</span>
                </a>
                <a href="#" class="link _color-orange _font-sm">
                    <i class="link__icon _msg"></i>
                    <span class="link__text">Консультация Онлайн</span>
                </a>
            </div>
            <div class="header__nav-links">
                <a class="link" href="#">О нас</a>
                <a class="link" href="#">Полезное</a>
                <a class="link" href="#">Доставка и Оплата</a>
                <a class="link" href="#">Контакт</a>
            </div>
        </div>
        <a href="/" class="header__logo"></a>
        <div class="header__contacts">
            <div class="header__lang">
                <a href="#" class="link _color-orange _font-sm">
                    <span class="link__text">Укр</span>
                </a>
                <a href="#" class="link _font-sm">
                    <span class="link__text">Рус</span>
                </a>
            </div>
            <div class="header__city">
                <a href="#" class="link _color-orange">
                    <span class="link__text">Одесса</span>
                </a>
            </div>
            <div class="header__contacts-row">
                <div class="header__contacts-column">
                    <a class="link" href="tel:0507555545">(050) 755-55-45</a>
                    <span class="header__contacts-schedule">c 10:00 до 20:00</span>
                </div>
                <div class="header__contacts-column">
                    <span class="header__contacts-address">ул. Семена Палия, 125, магазин 290</span>
                    <span class="header__contacts-schedule">Вт - Вс, с 9:00 до 14:00</span>
                </div>
            </div>
        </div>
    </div>
    <div class="header__categories">
        <div class="header__categories-container container">
            <a class="header__categories-link" href="/catalogue.html">Комплекты</a>
            <a class="header__categories-link" href="/catalogue.html">Шкафы</a>
            <a class="header__categories-link" href="/catalogue.html">Комоды </a>
            <a class="header__categories-link" href="/catalogue.html">Столы</a>
            <a class="header__categories-link" href="/catalogue.html">Кресла</a>
            <a class="header__categories-link" href="/catalogue.html">Стулья</a>
            <a class="header__categories-link" href="/catalogue.html">Диваны</a>
            <a class="header__categories-link" href="/catalogue.html">Кровати</a>
            <a class="header__categories-link" href="/catalogue.html">Матрассы</a>
            <a class="header__categories-link" href="/catalogue.html">Декор</a>
            <a class="header__categories-link" href="/catalogue.html">Cвет</a>
        </div>
    </div>
</header>
