<div class="popup _size-md _bg-black mfp-hide js-popup" id="mfp-callback">
    <i class="mfp-close popup__close">
        <svg class="popup__close-icon" width="17px" height="17px">
            <path d="M16.017,13.966 L13.966,16.016 L8.499,10.548 L3.031,16.016 L0.980,13.966 L6.448,8.498 L0.980,3.030 L3.031,0.979 L8.499,6.447 L13.966,0.979 L16.017,3.030 L10.549,8.498 L16.017,13.966 Z"/>
        </svg>
    </i>
    <div class="popup__container">
        <div class="popup__form _callback">
            <div class="thank-you__form-text">Хотите перезвоним Вам за 30 секунд ? :)</div>
            <div class="thank-you__form-content">
                <div class="thank-you__form-item">
                    <label class="thank-you__form-label">Оставьте свой телефон:</label>
                    <input type="text" class="input js-phone-number-input">
                </div>
                <button class="button">Отправить</button>
            </div>
        </div>
    </div>
</div>

<div class="mfp-hide popup js-popup" id="mfp-how-to-order">
    <i class="mfp-close popup__close">
        <svg class="popup__close-icon" width="17px" height="17px">
            <path d="M16.017,13.966 L13.966,16.016 L8.499,10.548 L3.031,16.016 L0.980,13.966 L6.448,8.498 L0.980,3.030 L3.031,0.979 L8.499,6.447 L13.966,0.979 L16.017,3.030 L10.549,8.498 L16.017,13.966 Z"/>
        </svg>
    </i>
    <div class="popup__container">
        <div class="popup__title">Как происходит заказ?</div>
        <div class="popup__body">
            <p class="popup__text">
                Выберите нужные вам параметры и опции товара, затем нажмите
                кнопку “Заказать”. Откроется корзина с выбраным товаром,
                вы можете продолжить покупки либо сразу перейти к оформлению.
                Укажите телефон, город и способ доставки, и нажмите кнопку “Оформить заказ”.
            </p>
            <p class="popup__text">
                Наш менеджер перезвонит Вам в ближайшее рабочее время для подтверждения заказа и уточнения всех деталей.
            </p>
        </div>
        <div class="popup__actions">
            <button class="button js-close-popup">Закрыть</button>
        </div>
    </div>
</div>

<div class="mfp-hide popup js-popup" id="mfp-big-samples">
    <i class="mfp-close popup__close">
        <svg class="popup__close-icon" width="17px" height="17px">
            <path d="M16.017,13.966 L13.966,16.016 L8.499,10.548 L3.031,16.016 L0.980,13.966 L6.448,8.498 L0.980,3.030 L3.031,0.979 L8.499,6.447 L13.966,0.979 L16.017,3.030 L10.549,8.498 L16.017,13.966 Z"/>
        </svg>
    </i>
    <div class="popup__container">
        <div class="popup__title">Материал корпуса</div>
        <div class="popup__body">
            <p class="popup__text">
                Помните что цвет на мониторе и фотографиях может
                отличаться от цвета который ви видите в живую.
                В незначительной степени допустимо отклонение оттенка
                в разных партиях. Если вы сомневаетесь с оттенком,
                неволнуйтесь, наш дизайнер приедет к вам и покажет образцы в живую
            </p>
            <div class="popup__samples">
                <div class="popup__samples-item">
                    <img class="popup__samples-item-img" src="images/colors/col-1_big.jpg" alt="color">
                    <span class="popup__samples-item-title">Рисунок на зеркале 001</span>
                </div>
                <div class="popup__samples-item">
                    <img class="popup__samples-item-img" src="images/colors/col-2_big.jpg" alt="color">
                    <span class="popup__samples-item-title">Рисунок на зеркале 002</span>
                </div>
                <div class="popup__samples-item">
                    <img class="popup__samples-item-img" src="images/colors/col-3_big.jpg" alt="color">
                    <span class="popup__samples-item-title">Рисунок на зеркале 003</span>
                </div>
                <div class="popup__samples-item">
                    <img class="popup__samples-item-img" src="images/colors/col-4_big.jpg" alt="color">
                    <span class="popup__samples-item-title">Рисунок на зеркале 004</span>
                </div>
                <div class="popup__samples-item">
                    <img class="popup__samples-item-img" src="images/colors/col-5_big.jpg" alt="color">
                    <span class="popup__samples-item-title">Рисунок на зеркале 005</span>
                </div>
                <div class="popup__samples-item">
                    <img class="popup__samples-item-img" src="images/colors/col-6_big.jpg" alt="color">
                    <span class="popup__samples-item-title">Рисунок на зеркале 006</span>
                </div>
            </div>
        </div>
        <div class="popup__actions">
            <button class="button js-close-popup">Закрыть</button>
        </div>
    </div>
</div>

<div class="mfp-hide popup js-popup" id="mfp-images-list">
    <i class="mfp-close popup__close">
        <svg class="popup__close-icon" width="17px" height="17px">
            <path d="M16.017,13.966 L13.966,16.016 L8.499,10.548 L3.031,16.016 L0.980,13.966 L6.448,8.498 L0.980,3.030 L3.031,0.979 L8.499,6.447 L13.966,0.979 L16.017,3.030 L10.549,8.498 L16.017,13.966 Z"/>
        </svg>
    </i>
    <div class="popup__container">
        <div class="popup__title">Рисунок на зеркале</div>
        <div class="popup__body">
            <p class="popup__text">
                Кроме стандартного рисунка из каталога мы можем выполнить
                любое чернобелое двецветное изображение без полутонов, например,
                ваше свадебное фото, рисунок ваших обоев, или иллюстрацию по вашему эскизу.
            </p>
            <div class="popup__samples">
                <a href="#" class="popup__samples-item _clickable js-constructor-image"
                   data-thumb-src="images/colors/col-7_big.jpg"
                   data-value="001"
                   data-alt="colour-001">
                    <img class="popup__samples-item-img" src="images/colors/col-7_big.jpg" alt="color">
                    <span class="popup__samples-item-title">Рисунок на зеркале 001</span>
                </a>
                <a href="#" class="popup__samples-item _clickable js-constructor-image"
                   data-thumb-src="images/colors/col-8_big.jpg"
                   data-value="002"
                   data-alt="colour-002">
                    <img class="popup__samples-item-img" src="images/colors/col-8_big.jpg" alt="color">
                    <span class="popup__samples-item-title">Рисунок на зеркале 002</span>
                </a>
                <a href="#" class="popup__samples-item _clickable js-constructor-image"
                   data-thumb-src="images/colors/col-9_big.jpg"
                   data-value="003"
                   data-alt="colour-003">
                    <img class="popup__samples-item-img" src="images/colors/col-9_big.jpg" alt="color">
                    <span class="popup__samples-item-title">Рисунок на зеркале 003</span>
                </a>
                <a href="#" class="popup__samples-item _clickable js-constructor-image"
                   data-thumb-src="images/colors/col-10_big.jpg"
                   data-value="004"
                   data-alt="colour-004">
                    <img class="popup__samples-item-img" src="images/colors/col-10_big.jpg" alt="color">
                    <span class="popup__samples-item-title">Рисунок на зеркале 004</span>
                </a>
                <a href="#" class="popup__samples-item _clickable js-constructor-image"
                   data-thumb-src="images/colors/col-11_big.jpg"
                   data-value="005"
                   data-alt="colour-005">
                    <img class="popup__samples-item-img" src="images/colors/col-11_big.jpg" alt="color">
                    <span class="popup__samples-item-title">Рисунок на зеркале 005</span>
                </a>
                <a href="#" class="popup__samples-item _clickable js-constructor-image"
                   data-thumb-src="images/colors/col-12_big.jpg"
                   data-value="006"
                   data-alt="colour-006">
                    <img class="popup__samples-item-img" src="images/colors/col-12_big.jpg" alt="color">
                    <span class="popup__samples-item-title">Рисунок на зеркале 006</span>
                </a>
            </div>
        </div>
        <div class="popup__actions">
            <button class="button js-close-popup">Закрыть</button>
        </div>
    </div>
</div>

<div class="popup _size-md _bg-black mfp-hide js-popup" id="mfp-response">
    <i class="mfp-close popup__close">
        <svg class="popup__close-icon" width="17px" height="17px">
            <path d="M16.017,13.966 L13.966,16.016 L8.499,10.548 L3.031,16.016 L0.980,13.966 L6.448,8.498 L0.980,3.030 L3.031,0.979 L8.499,6.447 L13.966,0.979 L16.017,3.030 L10.549,8.498 L16.017,13.966 Z"/>
        </svg>
    </i>
    <div class="popup__container">
        <div class="popup__title">Написать Отзыв</div>
        <div class="popup__form">
            <div class="popup__form-item">
                <label class="popup__form-label">Ваше Имя</label>
                <input class="input" type="text">
            </div>
            <div class="popup__form-item">
                <label class="popup__form-label">Отзыв</label>
                <textarea class="textarea"></textarea>
            </div>
            <label class="popup__form-image-upload">
                <span class="link _color-orange _font-sm">
                    <span class="link__text">Прикрепить фото</span>
                </span>
                <input type="file" class="_hidden">
            </label>
            <div class="popup__form-action">
                <button class="button js-send-response">Отправить</button>
            </div>
        </div>
    </div>
</div>

<div class="popup _size-md _bg-black mfp-hide js-popup" id="mfp-response-success">
    <i class="mfp-close popup__close">
        <svg class="popup__close-icon" width="17px" height="17px">
            <path d="M16.017,13.966 L13.966,16.016 L8.499,10.548 L3.031,16.016 L0.980,13.966 L6.448,8.498 L0.980,3.030 L3.031,0.979 L8.499,6.447 L13.966,0.979 L16.017,3.030 L10.549,8.498 L16.017,13.966 Z"/>
        </svg>
    </i>
    <div class="popup__container">
        <div class="popup__success">
            <div class="popup__success-title">Спасибо за отзыв!</div>
            <div class="popup__success-text">Отзыв будет проверен модератором и вскоре будет доступен на сайте.</div>
        </div>

        <div class="popup__actions">
            <button class="button js-close-popup">Закрыть</button>
        </div>
    </div>
</div>