<div class="recommended">
    <div class="recommended__container container">
        <div class="recommended__title">
            <h2 class="title">Похожие товары</h2>
        </div>
        <div class="recommended__items">
            <a class="product" href="/product.html">
                <div class="product__content">
                    <div class="product__image-wrap">
                        <img class="product__image" src="images/product-2.jpg" alt="product-2">
                        <img class="product__image-alt" src="images/product-1.jpg" alt="product-1">
                    </div>
                    <h3 class="product__title">
                        Шкаф Купе Checkstar
                        с рисунком пескоструй ...
                    </h3>
                    <div class="product__colors">
                        <div class="product__colors-category">
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-1.jpg" alt="col-1">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-2.jpg" alt="col-2">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-3.jpg" alt="col-3">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-4.jpg" alt="col-4">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-5.jpg" alt="col-5">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-6.jpg" alt="col-6">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-7.jpg" alt="col-7">
                            </span>
                            <span class="product__color-more"></span>
                        </div>
                        <div class="product__colors-category _sm">
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-8.jpg" alt="col-8">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-9.jpg" alt="col-9">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-10.jpg" alt="col-10">
                            </span>
                        </div>
                        <div class="product__colors-category">
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-11.jpg" alt="col-11">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-12.jpg" alt="col-12">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-13.jpg" alt="col-13">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-14.jpg" alt="col-14">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-15.jpg" alt="col-15">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-16.jpg" alt="col-16">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-17.jpg" alt="col-17">
                            </span>
                            <span class="product__color-more"></span>
                        </div>
                    </div>
                    <div class="price__wrap">
                        <div class="price">
                            <span class="price__value">4050</span>
                            <span class="price__period">грн</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/product.html" class="product">
                <div class="product__content">
                    <div class="product__image-wrap">
                        <img class="product__image" src="images/product-1.jpg" alt="product-1">
                        <img class="product__image-alt" src="images/product-3.jpg" alt="product-3">
                    </div>
                    <h3 class="product__title">
                        Купе Шкаф Класик 004, матовые двери
                    </h3>
                    <div class="product__colors">
                        <div class="product__colors-category">
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-1.jpg" alt="col-1">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-2.jpg" alt="col-2">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-3.jpg" alt="col-3">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-4.jpg" alt="col-4">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-5.jpg" alt="col-5">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-6.jpg" alt="col-6">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-7.jpg" alt="col-7">
                            </span>
                            <span class="product__color-more"></span>
                        </div>
                        <div class="product__colors-category _sm">
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-8.jpg" alt="col-8">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-9.jpg" alt="col-9">
                            </span>
                        </div>
                        <div class="product__colors-category">
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-11.jpg" alt="col-11">
                            </span>
                        </div>
                    </div>
                    <div class="price__wrap">
                        <div class="price _discount">
                            <span class="price__old-value">4500</span>
                            <span class="price__value">4050</span>
                            <span class="price__period">грн</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/product.html" class="product">
                <div class="product__content">
                    <div class="product__image-wrap">
                        <img class="product__image" src="images/product-2.jpg" alt="product-2">
                        <img class="product__image-alt" src="images/product-3.jpg" alt="product-3">
                    </div>
                    <h3 class="product__title">
                        Шкаф Класик 001 с зеркальными дверями
                    </h3>
                    <div class="product__colors">
                        <div class="product__colors-category">
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-1.jpg" alt="col-1">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-2.jpg" alt="col-2">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-3.jpg" alt="col-3">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-4.jpg" alt="col-4">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-5.jpg" alt="col-5">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-6.jpg" alt="col-6">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-7.jpg" alt="col-7">
                            </span>
                            <span class="product__color-more"></span>
                        </div>
                        <div class="product__colors-category _sm">
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-8.jpg" alt="col-8">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-9.jpg" alt="col-9">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-10.jpg" alt="col-10">
                            </span>
                        </div>
                    </div>
                    <div class="price__wrap">
                        <div class="price _sold-out">
                            <span class="price__old-value">4500</span>
                            <span class="price__value">4050</span>
                            <span class="price__period">грн</span>
                        </div>
                        <span class="price__label">Продано</span>
                    </div>
                </div>
            </a>
            <a href="/product.html" class="product">
                <div class="product__content">
                    <div class="product__image-wrap">
                        <img class="product__image" src="images/product-2.jpg" alt="product-2">
                        <img class="product__image-alt" src="images/product-1.jpg" alt="product-1">
                    </div>
                    <h3 class="product__title">
                        Шкаф Купе Checkstar
                        с рисунком пескоструй ...
                    </h3>
                    <div class="product__colors">
                        <div class="product__colors-category">
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-1.jpg" alt="col-1">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-2.jpg" alt="col-2">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-3.jpg" alt="col-3">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-4.jpg" alt="col-4">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-5.jpg" alt="col-5">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-6.jpg" alt="col-6">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-7.jpg" alt="col-7">
                            </span>
                            <span class="product__color-more"></span>
                        </div>
                        <div class="product__colors-category _sm">
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-8.jpg" alt="col-8">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-9.jpg" alt="col-9">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-10.jpg" alt="col-10">
                            </span>
                        </div>
                        <div class="product__colors-category">
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-11.jpg" alt="col-11">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-12.jpg" alt="col-12">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-13.jpg" alt="col-13">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-14.jpg" alt="col-14">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-15.jpg" alt="col-15">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-16.jpg" alt="col-16">
                            </span>
                            <span class="product__color js-color-link">
                                <img src="images/colors/col-17.jpg" alt="col-17">
                            </span>
                            <span class="product__color-more"></span>
                        </div>
                    </div>
                    <div class="price__wrap">
                        <div class="price">
                            <span class="price__value">4050</span>
                            <span class="price__period">грн</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>